.grey{background-color: #dbdbdb;}
#allOfThePrimes{color:black;overflow:auto;max-width:600px;height:100px;background-color:#ededed;border: 1px solid, #939393}
.red{color:red}
#distancesDiv{color:black;overflow:auto;max-width:600px;height:100px;background-color:#ededed;border: 1px solid, #939393}
#distancesDistributionDiv{overflow: scroll; color:black;max-width:600px;height:120px;background-color:#ededed;border: 1px solid, #939393}

#divForDistributionTable{width:600;overflow:scroll}
distributionTable{width:900px;height:500px;overflow: scroll;}
#divForDistributionCanvas{ width:900px;height:500px;overflow: scroll;}
#divForMonotonityOfOccurrenceOfDistancesCanvas{ width:900px;height:300px;overflow: scroll;}
.div2{overflow: scroll;}
#divForExtremeEloszlas{height:120px}
#divForSzamjegyetMegelozoMaximumokCanvas{overflow: scroll;}
#divForHatulrolAHanyadikSzamjegy{overflow: scroll;height:200px}
#divForHatulrolAHanyadikSzamjegyArray{height:120px; background-color:white;overflow: scroll;}
#divForHatulrolAHanyadikSzamjegyEloszlasArray{height:120px; background-color:white;overflow: scroll;}

#divForCanvasHatulrolAHanyadikSzamjegyEloszlas{overflow: scroll; height:200px}
#canvasHatulrolAHanyadikSzamjegyEloszlas{overflow: scroll;}
#divForHanyPrimEgymasMellettArray{height:120px; background-color:white;overflow: scroll;}
#divForCanvasHanyPrimEgymasMellett{overflow: scroll; height:200px}
#myPrimes{height:120px; background-color:white;overflow: scroll;}
#divForCongruence{overflow: auto;height:400px; width:1000px;}
#pForOrderArray{overflow: auto;height:120px;width:1000px;}