.grey{background-color: #dbdbdb;}
#allOfThePrimes{color:black;overflow:auto;max-width:600px;height:100px;background-color:#ededed;border: 1px solid, #939393}
.red{color:red}
#distancesDiv{color:black;overflow:auto;max-width:600px;height:100px;background-color:#ededed;border: 1px solid, #939393}
#distancesDistributionDiv{color:black;overflow:auto;max-width:600px;height:120px;background-color:#ededed;border: 1px solid, #939393}
